*.py[cod]
RPi.TC.egg-info/

# C extensions
*.so

# Packages
*.egg
*.egg-info
.installed.cfg
.cache
__pycache__
bin
build
develop-eggs
dist
eggs
include
lib
lib64
parts
sdist
var

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.swp
*.swo
